/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../../sass/partial/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 15, ../../sass/partial/main.scss */
html {
  font-size: 20px;
}

/* line 19, ../../sass/partial/main.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 28, ../../sass/partial/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 33, ../../sass/partial/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 38, ../../sass/partial/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 47, ../../sass/partial/main.scss */
img {
  vertical-align: middle;
}

/* line 51, ../../sass/partial/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 57, ../../sass/partial/main.scss */
textarea {
  resize: vertical;
}

/* line 61, ../../sass/partial/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 100, ../../sass/partial/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 107, ../../sass/partial/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 114, ../../sass/partial/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 119, ../../sass/partial/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 131, ../../sass/partial/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 140, ../../sass/partial/main.scss */
.invisible {
  visibility: hidden;
}

/* line 145, ../../sass/partial/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 150, ../../sass/partial/main.scss */
.clearfix:after {
  clear: both;
}

/* line 154, ../../sass/partial/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 163, ../../sass/partial/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 171, ../../sass/partial/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 175, ../../sass/partial/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 179, ../../sass/partial/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 189, ../../sass/partial/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 194, ../../sass/partial/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 199, ../../sass/partial/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 204, ../../sass/partial/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 208, ../../sass/partial/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 218, ../../sass/partial/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 224, ../../sass/partial/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
